<head>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />

</head>
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">S'authentifier</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="Email">Email</label>
            <input class="form-control" id="Email" type="email" aria-describedby="emailHelp" placeholder="Entrez votre mail">
          </div>
          <div class="form-group">
            <label for="Password">Mot de passe</label>
            <input class="form-control" id="Password" type="password" placeholder="Entrer votre mot de passe">
          </div>
          <a class="btn btn-primary btn-block" href="index.html">S'authentifier</a>
        </form>
        <div class="text-center">
          <a class="d-block small" href="forgot-password.html">Mot de passe oublié?</a>
        </div>
      </div>
    </div>
  </div>
    <script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
</body>