<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                <script src="{{ asset('js/jquery.js') }}"></script>
                <script src="{{ asset('js/bootstrap.js') }}"></script>
                 {% block script %}{% endblock %}
            {% endblock %}
        </div>
    </body>
</html>