<head>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />

</head>
<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Bonjour manel.khouaja@gmail.com</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>Mon profil</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>Se déconnecter</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/index"><i class="fa fa-dashboard fa-fw"></i>Tableau de bord</a>
                        </li>
                        <li>
                            <a href="/utilisateurs"><i class="fa fa-table fa-fw"></i> Gérer les utilisateurs</a>
                        </li>
                        <li>
                            <a href="/categories"><i class="fa fa-table fa-fw"></i> Gérer les catégories</a>
                        </li>
                        <li class="selected">
                            <a href="/fiches"><i class="fa fa-table fa-fw"></i>Gérer les fiches</a>
                        </li>
                        <li>
                            <a href="/commentaires"><i class="fa fa-table fa-fw"></i> Gérer les commentaires</a>
                        </li>
                        <li>
                            <a href="/notifications"><i class="fa fa-table fa-fw"></i> Gérer les notifications push</a>
                        </li>                                            
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default margin">
                        <div class="panel-heading">
                            Fiche Le zink
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                       		<form role="form">
                                <fieldset>
								    <legend>Informations générales:</legend>
                                    <div class="form-group">
                                            <label>Catégorie</label>
                                            <select class="form-control">
                                                <option value="1">Restaurant</option>
                                                <option value="2">Salon de thé</option>
                                            </select>
                                        </div>
									<div class="form-group">
									    <label>Nom de l'établissement</label>
	                                    <input class="form-control" value="Le zink">
									</div>
									<div class="form-group">
										<label>Description</label>
										<textarea class="form-control" rows="3">Il offre une cuisine américaine essentiellement et vous accompagnera pour un petit déjeuner, un brunch, un déjeuner ou un dîner.</textarea>
									</div>
								  </fieldset>
								  <fieldset>
								    <legend>Adresse:</legend>
									<div class="form-group">
									    <label>Numéro</label>
	                                    <input class="form-control" value="1">
									</div>
									<div class="form-group">
									    <label>Rue</label>
	                                    <input class="form-control" value="Salah Ben Mahmoud ">
									</div>
                                    <div class="form-group">
									    <label>Code Postal</label>
	                                    <input class="form-control" value="1004">
									</div>
                                    <div class="form-group">
									    <label>Ville</label>
	                                    <input class="form-control" value="Menzah 1">
									</div>
                                    <div class="form-group">
									    <label>Pays</label>
	                                    <input class="form-control" value="Tunisie">
									</div>
                                    <div class="form-group">
									    <label>Longitude</label>
	                                    <input class="form-control" value="36.837343">
									</div>
                                    <div class="form-group">
									    <label>Latitude</label>
	                                    <input class="form-control" value="10.177181">
									</div>
								  </fieldset>
                                  <fieldset>
                                      <legend>Images:</legend>
                                      <div class="entry">
                                          <div class="form-group">
                                                <label>Image</label>
                                                <input type="file" name="fields[]">
                                                 <span class="input-group-btn">
                                                      <button class="btn btn-success btn-add" type="button">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                      </button>
                                                 </span>
                                           </div>
                                        </div>
                                  </fieldset>
                                  <div class="form-group">
                                    <button type="submit" class="btn btn-warning btn-sm"">Enregistrer les modifications</button>
                                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button></td>
                            
                                  </div>
							</form>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-heading">
                            Les commentaires concernant cet établissement
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Utilisateur</th>
                                            <th>Commentaire</th>
                                            <th>Date d'ajout</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>manel.khouaja@gmail.com</td>
                                            <td>Trés bon </td>
                                            <td>18/11/2017</td>
                                            <td><button type="button" class="btn btn-warning btn-sm">Modifier</button></td>
                                            <td><button type="button" class="btn btn-danger btn-sm">Supprimer</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                         <div class="panel-heading">
                            Les notes concernant cet établissement
                        </div>
                        <div class="panel-body">
                            <h3>Note totale : 4</h3>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Utilisateur</th>
                                            <th>Note</th>
                                            <th>Date d'ajout</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>manel.khouaja@gmail.com</td>
                                            <td>4</td>
                                            <td>18/11/2017</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
        </div>
        <!-- /#page-wrapper -->

    </div>
  <script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
</body>