{% extends "BackOfficeBundle:Pages:base.html.twig" %}
{% block content %}
    <div class="container">
     <div class="login panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Authentification</h3>
          </div>
          <div class="panel-body">
            {{ form_start(form) }}                              
               {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary btn-block"  value="S'authentifier"/>
            {{ form_end(form) }} 
            {% if error != "" %}<div class="alert alert-danger">{{error}}</div>{% endif %}
        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
          $('body').addClass('bg-dark');
        });    
    </script>
{% endblock %}