<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li id="index">
                <a href="/index"><i class="fa fa-dashboard fa-fw"></i>Tableau de bord</a>
            </li>
            <li id="utilisateurs">
                <a href="/utilisateurs"><i class="fa fa-table fa-fw"></i> Gérer les utilisateurs</a>
            </li>
            <li id="categories">
                <a href="/categories"><i class="fa fa-table fa-fw"></i> Gérer les catégories</a>
            </li>
            <li id="fiches">
                <a href="/fiches"><i class="fa fa-table fa-fw"></i>Gérer les fiches</a>
            </li>
            <li id="commentaires">
                <a href="/commentaires"><i class="fa fa-table fa-fw"></i> Gérer les commentaires</a>
            </li>
            <li id="notifications">
                <a href="/notifications"><i class="fa fa-table fa-fw"></i> Gérer les notifications push</a>
            </li>                                            
        </ul>
    </div>
</div>